<!-- 主页面 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <style type="text/css" rel="stylesheet" >
        body{
            /* 页面背景色 */
            background-color: chartreuse;
        }
        #bbs-system-main-title{
            color: aqua;
        }
    </style>
</head>
<body>
    <div id="bbs-system-main-title">
        <!--标题-->
        <h1><i>nice后台管理系统</i></h1>
    </div>
    <h1><a href="/login/index">登录用户</a></h1>
    <h1><a href="#">还没有账号，立即注册</a></h1>
</body>
</html>