<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nice.mapper.BbsInvitationTypeMapper">

    <!-- 返回结果集 -->
    <resultMap id="bbsInvitationType" type="com.nice.domain.BbsInvitationType">
        <id property="bbsInvitationTypeId" column="bbs_invitation_type_id"/>
        <result property="bbsInvitationTypeName" column="bbs_invitation_type_name" />
        <result property="bbsInvitationTypeCreateDate" column="bbs_invitation_type_create_date" />
        <result property="bbsInvitationTypeModifyDate" column="bbs_invitation_type_modify_date" />
        <result property="bbsInvitationTypeRemark" column="bbs_invitation_type_remark" />
        <result property="bbsUserId" column="bbs_user_id" />
    </resultMap>

    <sql id="bbsInvitationTypeColumn">
        bbs_invitation_type_id,bbs_invitation_type_name,bbs_invitation_type_create_date,
        bbs_invitation_type_modify_date,bbs_invitation_type_remark,bbs_user_id
    </sql>

    <sql id="bbsInvitationTypeColumnProperty">
        #{bbsInvitationTypeId},#{bbsInvitationTypeName},#{bbsInvitationTypeCreateDate},
        #{bbsInvitationTypeModifyDate},#{bbsInvitationTypeRemark},#{bbsUserId}
    </sql>



    <insert id="insertBbsInvitationType" parameterType="com.nice.domain.BbsInvitationType" >
        insert into bbs_invitation_type(
            <include refid="bbsInvitationTypeColumn" />
        ) values (
            <include refid="bbsInvitationTypeColumnProperty" />
        );
    </insert>

    <!-- 根据bbs帖子类型名称查找bbs帖子类型名称 -->
    <select id="queryBbsInvitationTypeNameByBbsInvitationTypeName" resultType="java.lang.String">
        select bbs_invitation_type_name from bbs_invitation_type where bbs_invitation_type_name=#{bbsInvitationTypeName}
    </select>
</mapper>